html, body {
    min-height: 100vh;
    background-color: #FEFDEB;
    font-family: 'Lato', sans-serif;
    color: #020122;
}

body {
    padding: 0 4vw;
}

a, a:hover, a:active, a:visited {
    color: inherit;
}

a:not([class="image-link"]) {
    transition: .3s;
}

a:not([class="image-link"]):hover, a:not([class="image-link"]):active {
    color: #606D5D;
}

.accent {
    color: #606D5D !important;
}

.site-header {
    margin: 3em 0 1em 0;
}

.site-header h1 {
    font-size: 7em;
    font-weight: 100;
}

.site-header small {
    font-size: 1.25em;
    font-weight: 300;
}

.image-link, .image-link:hover, .image-link:active, .image-link:visited {
    text-decoration: none;
    color: inherit;
}

.image-link {
    display: grid;
    place-items: center;
    grid-template-areas: "inner-div";
    margin: 1em 0 0 0;
}

.image-link-icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    transition: .3s;
}

.image-link-icon-box.light {
    color: #FEFDEB;
}

.image-link-icon-box:hover {
    opacity: .7;
}

.image-title {
    display: block;
    margin: 1em 0 0 0;
    font-weight: 300;
    font-size: 2em;
    letter-spacing: 2px;
    text-decoration: underline;
}

.image-link > img {
    z-index: 50;
}

.inner {
    grid-area: inner-div;
}

.site-footer {
    margin: 3em 0 1em 0;
}

.site-footer p {
    margin: 0;
    font-size: 1.25em;
    font-weight: 300;
}
